<section id="contact">
    <div class="container">
        <h1 class="contact-text animated">CONTACT</h1>
        <div class="offer animated"><p class="offer-text">Would you like to work with me? Awesome!</p>
            <!-- <a href="mailto:dylananderton02@gmail.com" type="button" id="contactbutton" class="animated talkButton" rel="noopener noreferrer">Let's Talk</a> -->
            <button (click)="sendEmail()" id="contact-button" class="talkButton">Let's Talk</button>
        </div>
    </div>
</section>
