<h1 class="about-header">About Me</h1>
<img class="about-photo" src="https://raw.githubusercontent.com/dylananderton/WEB-CV/main/photo.jpeg">
<p class="about-text">I am a budding Web Developer and am ignited by my passion of continuously creating and developing sites that are eye-catching.

    In this rapidly changing world, I think that one must never stop learning as well as swiftly adapt to all new advancements and I am eager for what's more to come.
    
    Besides Web Developing, I am also immersed in the Crypto World, yearning to learn more about its ins and outs if presented the chance.
</p>