<footer class="footer navbar-static-bottom">
    <div class="container">
        <i class="fa fa-angle-up backTop" id="backTop" onclick="topFunction()" style="font-size: 40px;"></i>
            <div class="social-links" id="link-git">
            <a href="https://www.linkedin.com/in/dylan-anderton-60701517b/" target="_blank" class="fa fa-linkedin linked"></a>
            <a href="https://github.com/dylananderton" target="_blank" class="fa fa-github git"></a>
        </div>
        <hr>
        <div class="copy">
        <p class="copy-text" style="color: gray; font-size: 15px;">&copy;&nbsp;<script>document.write(new Date().getFullYear())</script> - Dylan Anderton - &nbsp;</p>
        <a href="https://github.com/dylananderton/WEB-CV" class="source-code" target="_blank">
           See the source code
        </a>
        </div>
    </div>
</footer>