<section class="boxskill">
  <div class="container">
      <h1 class="skills animated">
      SKILLS
      </h1>
      <div *ngIf="isMode2 === false" class="skills-list" id="skills-list">
          <span class="lang-html col-lg-4 col-md-6 col-sm-12 animated" id="lang-html">HTML</span>
          <span class="lang-css col-lg-4 col-md-6 col-sm-12 animated" id="lang-css">CSS</span>
          <span class="lang-js col-lg-4 col-md-6 col-sm-12 animated" id="lang-js">Javascript</span>
          <span class="brmed" id="skillbr"></span>
          <span class="lang-fire col-lg-4 col-md-6 col-sm-12 animated" id="lang-fire">React</span>
          <span class="lang-pyth col-lg-4 col-md-6 col-sm-12 animated" id="lang-pyth">jQuery</span>
          <span class="lang-c col-lg-4 col-md-6 col-sm-12 animated" id="lang-c">Bootstrap</span>
      </div>

      <div *ngIf="isMode2 === true" class="skills-list2" id="skills-list2">
          <table>
              <tr>
                  <td class="lang-html2 animated">HTML</td>
                  <td class="lang-css2 animated">CSS</td>
              </tr>
              <tr>
                  <td class="lang-js2 animated">Javascript</td>
                  <td class="lang-fire2 animated">React</td>
              </tr>
              <tr>
                  <td class="lang-pyth2 animated">jQuery</td>
                  <td class="lang-c2 animated">Bootstrap</td>
              </tr>
          </table>
      </div>
  </div>
</section>