<section class="boxskill">
  <div class="container">
      <h1 class="skills animated">
      SKILLS
      </h1>
      <div (window:resize)="skillsBr()" *ngIf="showSkillsList1" class="skills-list" id="skills-list">
          <span class="lang-html col-lg-4 col-md-6 col-sm-12 animated" id="lang-html">HTML</span>
          <span class="lang-css col-lg-4 col-md-6 col-sm-12 animated" id="lang-css">CSS</span>
          <span class="lang-js col-lg-4 col-md-6 col-sm-12 animated" id="lang-js">Typescript</span>
          <span class="brmed" id="skillbr"></span>
          <span class="lang-fire col-lg-4 col-md-6 col-sm-12 animated" id="lang-fire">Angular</span>
          <span class="lang-pyth col-lg-4 col-md-6 col-sm-12 animated" id="lang-pyth">jQuery</span>
          <span class="lang-c col-lg-4 col-md-6 col-sm-12 animated" id="lang-c">Bootstrap</span>
      </div>

      <div *ngIf="showSkillsList2" class="skills-list2" id="skills-list2">
          <table>
              <tr>
                  <td class="lang-html2 animated">HTML</td>
                  <td class="lang-css2 animated">CSS</td>
              </tr>
              <tr>
                  <td class="lang-js2 animated">Typescript</td>
                  <td class="lang-fire2 animated">Angular</td>
              </tr>
              <tr>
                  <td class="lang-pyth2 animated">jQuery</td>
                  <td class="lang-c2 animated">Bootstrap</td>
              </tr>
          </table>
      </div>

      <div *ngIf="showSkillsList3" class="skill-list3" id="skills-list3">
        <div class="lang-html3" id="lang-html3">HTML</div>
          <div class="lang-css3" id="lang-css3">CSS</div>
          <div class="lang-js3" id="lang-js3">Typescript</div>
          <div class="lang-fire3" id="lang-fire3">Angular</div>
          <div class="lang-pyth3" id="lang-pyth3">jQuery</div>
          <div class="lang-c3" id="lang-c3">Bootstrap</div>
      </div>
  </div>
</section>